/**
 * Sidebar
 */

.widget-area {
	& .widget {
		margin-bottom: var(--space-8);

		&:last-child {
			margin-bottom: 0;
		}
	}

	& .widget-title {
		font-size: var(--font-size-base);
		font-weight: var(--font-weight-semibold);
		margin-bottom: var(--space-4);
		padding-bottom: var(--space-3);
		border-bottom: 2px solid var(--color-primary);
	}
}
